:root{
    --fundo: #E0FFFF;
    --frente-cartao: #FA8072;
    --verso-cartao: #B0E0E6;
    --destaque: #A52A2A;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
    
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}
